<ion-header>
  <ion-toolbar>
    <ion-title>
      Pilha - Aplicação
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="closeModal()">
        <span ion-text color="primary" >Fechar</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <div class="center">
<h2> Execução da Pilha </h2>
<div class="row">
  <div *ngIf="pilha.length == 0">
    <div style="color: red;">
      Pilha vazia!
    </div>
  </div>
  <div *ngFor="let item of pilha" style="width: 100%;">
    <input class="form-control" type="number" style="width: 100%;text-align:center;" value={{item}}>
  </div>
</div>
<br/>
<h2> Operações da Pilha </h2>
<div class="row">
  <div style="width: 100%;">
    <input [(ngModel)]="num">
  </div>
</div>
<button class="form-control" ion-button color="secondary" outline (click)="insert()">Inserir</button>
<button class="form-control" ion-button color="danger" outline (click)="remove()">Remover</button>
</div>
</ion-content>
